chromadb
ipex-llm==2.1.0b20240711
modelscope
streamlit
huggingface-hub
PyMuPDF 
llama-index-vector-stores-chroma 
llama-index-readers-file 
llama-index-embeddings-huggingface 
llama-index
opencv-python
paddlepaddle
fitz

